fastapi[standard]
psycopg2 #python-postgree connection.
pyjwt #token authentication
passlib[bcrypt] #password hashing
groq

langchain
langchain-huggingface
PyPDF2
langdetect
faiss-cpu
langchain-groq
langchain_community
